@media screen and (max-height: 700px) {
    header {
        overflow: visible;
    }
}

@media screen and (max-width: 1350px) {
    // Alter padding from sections and titles
    header {
        padding: 0;
    }

    .section {
        padding: 4rem 2.5rem !important;
    }

    // Keep home page background fullscreen
    .sec1 {
        padding: 0 0 !important;
    }

    // Timeline needs some padding
    .timeline {
        padding-left: 1rem;
    }
}


// * Time for buttons to move down and sections really start shifting.
@media screen and (max-width: 1100px) {
    // Move buttons to bottom on screen.
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem 2%;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            // Remove button text.
            .btn-text {
                display: none;
            }
        }
    }

    // Decrease padding on home page.
    .sec1{
        padding: 0 0 !important;
        .header-content {
            max-height: none;
        }
    }

    // Fix section titles.
    .main-title {
        h2 {
            font-size: 3.5rem;
        }
        .bg-text {
            display: none;
        }
    }

    // Trying to make header image play nice with scrolling and all that.
    .header-content {
        img {
            position: relative;
        }
        .right-header {
            position: relative;
            padding-bottom: 7.5rem;
            left: 5rem;
            top: 2rem;
        }
    }

    // About container.
    .about-container {
        // Change grid to single column.
        grid-template-columns: repeat(1, 1fr);
        // GB pic
        .right-about {
            padding-top: 3rem;
            padding-bottom: 3.5rem;
            .about-img .slide {
                width: 80vw !important;
                height: auto;
                margin: auto;
            }
        }
        .left-about {
            padding: 0;
            h4 {
                font-size: 1.7rem;
            }
        }
    }

    // Change skills list items to be 2 columns instead of 3.
    .about-skills .progress-bars .progress-bar .progress-list {
        grid-template-columns: repeat(2, 1fr);
    }

    // Change timeline items to be 1 column instead of 3.
    .timeline {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 7.5rem;
    }

    // Change project items to be 2 column instead of 3.
    .projects {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 7.5rem;
    }

    // Move contact section up when control banner shifts.
    .contact-content-container {
        padding-bottom: 7.5rem;
    }
}

// Move contact section into single column.
@media screen and (max-width: 900px) {
    .header-content .right-header p {
        padding-right: 10%;
    }
    .contact-content-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .right-contact {
            margin-left: 0;
        }
    }
}


@media screen and (max-width: 750px) {
    // Move project list items to single column.
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 600px) {
    // Move skill list items to single column.
    .about-skills .progress-bars .progress-bar .progress-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 530px) {
    // Allow space in name again.
    .header-content .right-header .name span {
        white-space: normal !important;
    }
}

