@media screen and (max-width: 1350px) {
    // Alter padding from sections and titles
    header {
        padding: 0;
    }

    .section {
        padding: 4rem 2.5rem !important;
    }
}


@media screen and (max-width: 1100px) {
    // Move buttons to bottom on screen.
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem 2%;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            // Remove button text.
            .btn-text {
                display: none;
            }
        }
    }

    // Fix section titles.
    .main-title {
        h2 {
            font-size: 3.5rem;
        }
        .bg-text {
            display: none;
        }
    }

    .section {
        padding: 1rem 2.5rem !important;
    }

    // Decrease padding on home page.
    // TODO Needs to be fixed.
    header .right-header {
        padding: 0 !important;
        .p {
            padding-right: 1rem;
        }
    }

    // Change grid to single column.
    .about-container {
        grid-template-columns: repeat(1, 1fr);
        .right-about {
            padding-top: 3rem;
            height: 50vh;
            width: 50vw;
            margin: auto;
        }
        .left-about {
            padding: 0;
            h4 {
                font-size: 1.7rem;
            }
        }
    }
}